            /* Working with variables! 
        This section allows you to customize most of your theme
        without having to go back and forth! 
        */
:root {
    --bgcolor: #161617; /*  background colour*/
    --fontsize:12px; /* Font Size for most if not all universally readable bodys/posts/containers etc*/
    --fontsmall:10px; /* smaller fontsize for smaller things */
    
    
    --background: url('https://i.imgur.com/Ix0iYch.png');
    --divider:  url('https://abload.de/img/bgtiadivmfjrc.png');
    
    --padding:10px;
    --pad2:calc(var(--padding) * 2);
    
    --width:calc(530px - var(--pad2));  
                /* ^ The width of your container. Replace [520px] with the width/size of the 'container' you made in photoshop. It will calculate the padding off of it so it fits! -*- also applies to popup! */
    
    --height:100%; 
            /* ^ Set the height of your container and popups! Can be set to a specific number or 100% for a top to bottom theme! */
    
    --posv:0px; /* the VERTICAL position /top-bottom/ of your container*/
    --posh:511px; /* the HORIZONTAL position /left-right/ of your container*/
    
        
        /*  Customize the colors of your theme! 
        you can put any HEX, RGB/RGBA color code here!  */

    --text: #fff;        /* text colour */
    --bold: #b1434c;        /* bold text colour */
    --italics: #d5aab6;     /* italics text colour */
    --link: #8CB3BE;           /* link colours */
    --hover: #485d78;       /* links on hover colour */
    --border:#1f1f21;   /* color of all borders, including blockquote */
    --shadow:rgba(5,0,0,0.4);   /* colour of text and box-shadows */
    --museinfo1:#86babe;   /*   Kind of like an accent colour */
    
    
    /* Customize how your tooltip looks like! (when you hover over link)*/
    --font:'Merienda One', cursive;        /*  The font you use    */
    --fontsz:25px;              /*  The fontsize    */
    --tooltip:#fff;     /*  the colour of the text  */
    --toolborder:#1f1f21; /*  the outline/border color */
}


/*      To fill out your info, scroll below! :3 
        right below this you find your sidebar to edit.
        
        To put in your rules, muse about etc look for 
                "  START CUSTOMIZING HERE  "
            and start putting in your info! :3
*/

body {
    background:var(--bgcolor);    
    color:var(--text);
    font-family: 'Noto Serif', serif;
    text-align:justify;
    background-image:var(--background);
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size:var(--fontsize);
    text-shadow:none;
}
                                /* MISC HTML */
                                
/*
ol, ul {
    padding: 0px 15px;
}

li {
    list-style: none;
}


/*ol: number list
ol li:before {
    margin: 5px; 
    content: "\f192"; FontAwesome Unicode
    font-family: 'FontAwesome';
    display: inline-block;
}

/*ul: bullet points
ul li:before {
    margin: 5px;
    content: "\f005"; /* FontAwesome Unicode
    font-family: 'FontAwesome';
    display: inline-block;
}

*/

a {
    color:var(--link);
    text-decoration: none;
    text-shadow:1px 1px 0px var(--shadow), 
      1px -1px 0px var(--shadow),
      -1px -1px 0px var(--shadow),
      -1px 1px 0px var(--shadow),
      0px 1px 0px var(--shadow),
      0px -1px 0px var(--shadow),
      1px 0px 0px var(--shadow),
      -1px 0px 0px var(--shadow);
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}    

a:hover {
    color:var(--hover);
    text-shadow:1px 1px 0px var(--border), 
      1px -1px 0px var(--border),
      -1px -1px 0px var(--border),
      -1px 1px 0px var(--border),
      0px 1px 0px var(--border),
      0px -1px 0px var(--border),
      1px 0px 0px var(--border),
      -1px 0px 0px var(--border);
}

i, em {
    color:var(--italics);
    font-family: 'Merienda One', cursive;
}

b, strong {
    color:var(--bold);
    font-weight:700;
    text-shadow:1px 1px 0px var(--shadow), 
      1px -1px 0px var(--shadow),
      -1px -1px 0px var(--shadow),
      -1px 1px 0px var(--shadow),
      0px 1px 0px var(--shadow),
      0px -1px 0px var(--shadow),
      1px 0px 0px var(--shadow),
      -1px 0px 0px var(--shadow);
}

blockquote {
    padding:1px 5px;
    margin:0px 8px;
    border-left:2px solid var(--border);
}

blockquote img {
    max-width:calc(var(--width) - var(--pad2)*2)!important;
    height:auto;
}

h1 {
   font-size:30px;
   line-height:20px;
   text-align:left;
   padding:10px;
   color:#fff;
   font-family: 'Kaushan Script', cursive;
   text-shadow:1px 1px 0px var(--shadow), 
      1px -1px 0px var(--shadow),
      -1px -1px 0px var(--shadow),
      -1px 1px 0px var(--shadow),
      0px 1px 0px var(--shadow),
      0px -1px 0px var(--shadow),
      1px 0px 0px var(--shadow),
      -1px 0px 0px var(--shadow);
}

h2 {
    font-size:18px;
    font-family: 'Kaushan Script', cursive;
}

h3 {
    font-size:14px;
    text-align:center;
    padding:3px;
    margin:15px 15px;
    border:1px solid var(--border);
    background:var(--divider);
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Leckerli One';
    color:#fff;
    text-shadow:1px 1px 0px var(--shadow), 
      1px -1px 0px var(--shadow),
      -1px -1px 0px var(--shadow),
      -1px 1px 0px var(--shadow),
      0px 1px 0px var(--shadow),
      0px -1px 0px var(--shadow),
      1px 0px 0px var(--shadow),
      -1px 0px 0px var(--shadow);
}

h4 {
    font-size:30px;
    line-height:1px;
    text-align:center;
    padding:3px;
    margin:20px 15px;
    border:1px solid var(--border);
    background:var(--divider);
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Kaushan Script', cursive;
    text-transform:none;
    color:#fff;
    text-shadow:1px 1px 0px var(--shadow), 
      1px -1px 0px var(--shadow),
      -1px -1px 0px var(--shadow),
      -1px 1px 0px var(--shadow),
      0px 1px 0px var(--shadow),
      0px -1px 0px var(--shadow),
      1px 0px 0px var(--shadow),
      -1px 0px 0px var(--shadow);
}

hr {
    height:5px;
    margin: 20px 10px;
    border:1px solid var(--border);
    background:var(--divider);
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

pre {
    white-space: normal;
    padding:4px 8px;
    word-wrap:break-word;
    overflow: hidden;
    max-width:auto;
    color:#fff;
    text-shadow:1px 1px 0px var(--shadow), 
      1px -1px 0px var(--shadow),
      -1px -1px 0px var(--shadow),
      -1px 1px 0px var(--shadow),
      0px 1px 0px var(--shadow),
      0px -1px 0px var(--shadow),
      1px 0px 0px var(--shadow),
      -1px 0px 0px var(--shadow);
    background:rgba(0, 0, 0, 0.6); /* TEXT BACKGROUND */
    background-image:url('');           /*  SET AN IMAGE AS BACKGROUND */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:top right;
}

#heads {
    background:rgba(100,105,200,0);
    position:fixed;
    bottom:50px;
    right:60px;
    width:330px;
    height:120px;
    padding:10px;
    font-size:var(--fontsize);
    text-align:center;
    overflow:auto;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

                                /* POSTS */
#container {
    background:rgba(100,105,200,0);
    color:var(--text);
    position:fixed;
    top:var(--posv);
    right:var(--posh);
    bottom:0px;
    width:var(--width);
    height:var(--height);
    padding:var(--padding);
    overflow:auto;
}

.posts {
    background:rgba(150,150,150,0);
    width:500px;
    padding:0px;
    padding-top:15px;
    margin-bottom:30px;
    overflow:auto;
}

.posts img {
    max-width:500px;
    height:auto;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.posts img:hover {
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.posts iframe {
    max-width:500px;
    max-height:100%;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.posts iframe:hover {
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

#ask_form {
    min-height:200px!important;
    max-height:500px!important;
    overflow:auto;
}

.more-btn-wrap {
    position: relative;
    width: 100%;
    margin:20px 0px;
    padding:4px 0px;
    text-align:center;
} 

.more-btn-wrap a {
    padding:4px 50px;
    font-size:24px;
    font-family: 'Galada', cursive;
    text-transform:none;
}  

                                /* NOTES */
{block:PermalinkPage} 

.whathappened {
    width:auto;
    padding:5px;
    margin-bottom:30px;
    font-size:var(--fontsize);
    text-align:block;
    letter-spacing:3px;
}

.whathappened img {
    border-radius:100%;
    margin:-5px 5px;
}

{/block:PermalinkPage}


.popup_block span {
    background:var(--border);
    color:var(--text);
    font-size:16px;
    margin-left:15px;
    padding: 1px 5px;
    font-family:'VT323';
}

.lable {
    background:var(--border);
    color:var(--text);
    text-shadow:none;
    float:left;
    padding: 1px 5px 2px;
    margin: 0px 10px 0px 0px;
    font-size:16px;
    font-family:'VT323';
}
                                /* PERMALINKS */

.permalinks { 
    background:rgba(150,150,150,0);
    height:auto;
    text-align:left;
}

.display { 
    color:#fff;
    text-align:center;
    font-family: 'Abril Fatface', cursive;
    letter-spacing:2px;
    font-size:var(--fontsize);
    padding:10px;
    margin:5px;
    height:15px;
    width:220px;
    border:2px solid var(--border);
    background:var(--divider);
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow:5px 5px 0px var(--shadow);
    text-shadow:1px 1px 0px var(--shadow), 
      1px -1px 0px var(--shadow),
      -1px -1px 0px var(--shadow),
      -1px 1px 0px var(--shadow),
      0px 1px 0px var(--shadow),
      0px -1px 0px var(--shadow),
      1px 0px 0px var(--shadow),
      -1px 0px 0px var(--shadow);
}

.display a { 
    color:#fff;
    text-decoration: none;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.display a:hover { 
    color:var(--hover);
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;    
}
    

.tags { 
    text-align:left;
    font-size:var(--fontsmall);
    padding:5px;
    max-width:500px;
    max-height:50px;
    background:rgba(150,20,20,0);
    overflow:auto;
}

.stats a {
    display:inline-block;
    float:right;
    color:#fff;
    text-align:center;
    font-family: 'Abril Fatface', cursive;
    font-size:20px;
    line-height:14px;
    padding:10px;
    margin:0px 10px;
    height:15px;
    width:16px;
    border:2px solid var(--border);
    background:var(--divider);
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow:5px 5px 0px var(--shadow);
    text-shadow:1px 1px 0px var(--shadow), 
      1px -1px 0px var(--shadow),
      -1px -1px 0px var(--shadow),
      -1px 1px 0px var(--shadow),
      0px 1px 0px var(--shadow),
      0px -1px 0px var(--shadow),
      1px 0px 0px var(--shadow),
      -1px 0px 0px var(--shadow);
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.stats a:hover {
    opacity:0.5;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.next_page {
    position:fixed;
    bottom:111px;
    right:32px;
    text-align:center!important;
    display:inline-block;
    font-family:'times';
    font-size:45px;
}

.next_page a {
    color:#fff;
    text-shadow:1px 1px 0px var(--shadow), 
      1px -1px 0px var(--shadow),
      -1px -1px 0px var(--shadow),
      -1px 1px 0px var(--shadow),
      0px 1px 0px var(--shadow),
      0px -1px 0px var(--shadow),
      1px 0px 0px var(--shadow),
      -1px 0px 0px var(--shadow);
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.next_page a:hover {
    opacity:0.3;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.prev_page {
    position:fixed;
    bottom:111px;
    right:415px;
    text-align:center!important;
    display:inline-block;
    font-family:'times';
    font-size:45px;
}

.prev_page a {
    color:#fff;
    text-shadow:1px 1px 0px var(--shadow), 
      1px -1px 0px var(--shadow),
      -1px -1px 0px var(--shadow),
      -1px 1px 0px var(--shadow),
      0px 1px 0px var(--shadow),
      0px -1px 0px var(--shadow),
      1px 0px 0px var(--shadow),
      -1px 0px 0px var(--shadow);
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.prev_page a:hover {
    opacity:0.3;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

                                /* ASKS */
.fus { /*Asker*/
    color:var(--link);
    position: relative; 
    margin: 0px; 
    margin-bottom:10px;
    margin-top:20px;
    height:5px;
    padding-left:15px;
    background:var(--bgcolor);
    border:solid 1px var(--border);
    border-radius:100px;
    font-size:24px;
    font-family:'Galada';
    text-align:center; 
    letter-spacing:1px;
    line-height:2px;
    text-shadow:1px 1px 0px var(--shadow),
      1px -1px 0px var(--shadow),
      -1px -1px 0px var(--shadow),
      -1px 1px 0px var(--shadow),
      0px 1px 0px var(--shadow),
      0px -1px 0px var(--shadow),
      1px 0px 0px var(--shadow),
      -1px 0px 0px var(--shadow);
}

.fus img {
    position: absolute;
    float:left;
    margin-top:-26px;
    left:10px;
    border:1px solid var(--border);
    border-radius:50px;
    width:50px;
    height:50px;
}

.ro { /*Question*/
    padding:10px 25px;
    text-align:justify;
    background:transparent;
}

.dah { /*Answer*/
    padding-left:10px;
    padding-right:10px;
}

.dah blockquote{ /*Answer*/
    margin:0px;
    padding:0px;
    border-left:0px solid var(--border);
}

.dah img {
    max-width:500px;
    height:auto;
}

 
                               /* QUOTES */
.tobe {
    font-size:30px;
    letter-spacing:1px;
    text-align:center;
    font-family: 'Merienda One', cursive;
    margin-bottom:5px;
    padding-bottom:3px;
}

.ornottobe {
   font-size:var(--fontsmall);
   letter-spacing:1px;
   text-align:center;
   margin-bottom:5px;
}

                    /*  A U D I O    */

.beatbox {
    position:relative;
    padding:5px;
    overflow:hidden;
}

.beatbox table {
    margin:0px;
    padding:5px;
    max-width:500px;
    line-height:15px;
    text-shadow:none;
}

.beatbox tr {
    font-size:var(--fontsmall);
    padding:0px;
}

.beatbox th {
    width:210px!important;
    padding:5px;
    height:20px;
    text-align:center;
}

.beatbox td {
    width:80px!important;
    padding:0px 5px;
    height:80px;
    text-align:right;
    border-radius:0 50px 50px 50px;
    border:1px solid var(--border);
    background-position:relative;
    background-repeat:no-repeat;
    background-size:80px 80px;
    overflow:hidden;
}

.beat {
    position: absolute;
    left: 235px;
    top: 40px;
    width: 31px;
    height: 30px;
    background-color: #ffffff;
    padding:0px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    overflow:hidden;
}

                            /* NAVIGATION - LINKS */

.navigator {
    text-align:center;
    padding:5px;
}

.navigator a {
    display:inline-block;
    width:100px;
    height:10px;
    line-height:10px;
    margin:2px;
    padding:8px;
    text-align:center;
    background:transparent;
    background:var(--divider);
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border:solid 1px var(--border); /* BORDER COLOR */
    font-size:var(--fontsize);
    color:#fff;
    opacity:1;
    text-transform:uppercase;
    text-shadow:1px 1px 0px var(--shadow), 
      1px -1px 0px var(--shadow),
      -1px -1px 0px var(--shadow),
      -1px 1px 0px var(--shadow),
      0px 1px 0px var(--shadow),
      0px -1px 0px var(--shadow),
      1px 0px 0px var(--shadow),
      -1px 0px 0px var(--shadow);
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.navigator a:hover {
    opacity:0.3;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

                                /* POPPY UPPY */
*html #fade {position: absolute;}
*html .popup_block {position: absolute;}
#fade {
    display:none;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:9999;
    background:var(--bgcolor);
    opacity:0; 
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
                                
                                
.popup_block {
    display:none;
    height:auto;
    width:auto;
    padding:0px;
    float:left;
    margin:auto;
    z-index: 99999;
}

.pop_content {
    position:fixed;
    padding:var(--padding);
    float:right;
    overflow:auto;
    z-index: 999999999;
    width:var(--width);
    height:var(--height);
    top:var(--posv);
    right:var(--posh);
    background-image:var(--background);
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pop_content img {
    float:right;
    opacity:1;
    max-width:100px;
    height:auto;
    padding: 2px 2px 2px 5px;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.pop_content a img:hover {
    opacity:0.3;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.header {
    position:relative;
    padding:0px!important;
    width:100%;
    height:auto;
    overflow:hidden;
    text-align:center;
    top:5px;
}    
 
.header img {
    margin:0px;
    padding:0px!important;
    max-width:85%;
    height:auto;
    border:1px solid var(--border);
    float:none;
}

.header img:hover {
    filter:none;
}

.about-box {
    position:relative;
    height:auto;
    width:auto;
    padding:10px 30px;
    margin:0px;
}

.about-box h2 {
    position:relative;
    padding: 0px 10px;
    text-align:center;
}

.about-box table {
    margin:0px;
    padding:0px;
    width:100%;
    text-shadow:none;
}

.about-box tr {
    padding:5px;
    margin:0px!important;
    font-size:var(--fontsize);
}

.about-box th {
    text-align:right;
    font-family: 'Abril Fatface', cursive;
    letter-spacing:2px;
    color:var(--museinfo1);
    max-width:30%;
    padding:5px 5px 5px 10px;
}

.about-box td {
    text-align:left;
    color:var(--text);
    width:70%!important;
    overflow:auto;
    padding:5px;
    padding-left:30px;
}
                            /*      V E R S E S    */
ver {
    text-align:left;
    width:100%;
    padding:0px;
}

ver:nth-child(even) {
    text-align:right!important;
}

ver p.box {
    position:relative;
    height:92px;
    width:auto;
    margin:0px;
    margin-bottom:20px;
    padding:5px;
    border-bottom:1px solid var(--border);
    overflow:auto;
}

ver a {
    float:right;
    text-align:center;
    width:70px;
    height:10px;
    margin:0px;
    padding:2px;
    font-size:var(--fontsmall);
    line-height:8px;
    background:var(--border);
    border:4px double var(--museinfo1);
}

ver:nth-child(even) a {
    float:left!important;
    text-align:center;
    width:70px;
    height:10px;
    margin:0px;
    padding:2px;
    font-size:var(--fontsmall);
    line-height:8px;
    background:var(--border);
    border:4px double var(--museinfo1);
}

ver a:hover {
    background:var(--museinfo1);
    border:4px double var(--border);
}

ver img.verimg {
    float:left;
    max-height:80px;
    width:auto;
    margin:-6px -2px 0px 0px;
    padding:0px 5px;
    display:inline-block;
}

ver:nth-child(even) img.verimg {
    float:right;
    max-height:80px;
    width:auto;
    margin:-6px 0px -2px 0px;
    padding:0px 5px;
    display:inline-block;
}


.topbar {
    max-width:100%;
    padding:2px;
    height:34px;
    text-align:center;
    background:#e8cbe830;
    color:var(--italics);
}

.topbar b {
    color:var(--museinfo1);
}

                        /*      R E L A T I O N S H I P S    */
rel {
    text-align:left;    
}

rel:nth-child(even) {
    text-align:right!important;    
}

.about-box rel img {
    float:left;
    border-left:1px solid var(--border);
    border-right:1px solid var(--border);
    border-radius:20px;
    height:auto;
    max-width:75px;
    padding:0px!important;
    margin:0px 10px 0px 0px;
}

.about-box rel:nth-child(even) img {
    float:right;
    border-left:1px solid var(--border);
    border-right:1px solid var(--border);
    border-radius:20px;
    height:auto;
    max-width:75px;
    padding:0px!important;
    margin:0px 0px 0px 10px;
}

rel a.rel1 {
    position:relative;
    float:right;
    top:0px;
    right:40px;
    transform:rotate(5deg);
    font-size:30px;
    color:#fff;
    text-shadow:
      0px 1px 5px #fff,
      0px -1px 5px #fff,
      1px 0px 5px #fff,
      -1px 0px 0px #fff;
}

rel a.rel2 {
    position:relative;
    float:right;
    top:30px;
    right:0px;
    transform:rotate(20deg);
    font-size:20px;
    color:#fff;
    text-shadow:
      0px 1px 5px #fff,
      0px -1px 5px #fff,
      1px 0px 5px #fff,
      -1px 0px 0px #fff;
}

rel:nth-child(even) a.rel1 {
    position:relative;
    float:left;
    top:0px;
    left:40px;
    transform:rotate(-5deg);
}

rel:nth-child(even) a.rel2 {
    position:relative;
    float:left;
    top:30px;
    left:0px;
    transform:rotate(-20deg);
}


                                /* TABS */

hit#tabs {
    position:absolute;
    font-size:40px;
    color:var(--text);
    text-shadow:1px 1px 0px var(--border), 
      1px -1px 0px var(--border),
      -1px -1px 0px var(--border),
      -1px 1px 0px var(--border),
      0px 1px 0px var(--border),
      0px -1px 0px var(--border),
      1px 0px 0px var(--border),
      -1px 0px 0px var(--border);
    transition-duration: 0.9s;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}
 
 
hit#tabs click {
    display:inline-block;
    cursor:pointer;
    margin:10px;
    padding:0px;
    background:transparent;
    opacity:1;
    transition-duration: 0.9s;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    unicode-bidi:bidi-override;
    direction:rtl;
}


hit#tabs click:hover {
    opacity:0.7;
    transition-duration: 0.9s;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}
 
hit#tabs click.active {
    opacity:1;
    display: inline-block;
    color:var(--border);
    text-shadow:1px 1px 0px var(--text), 
      1px -1px 0px var(--text),
      -1px -1px 0px var(--text),
      -1px 1px 0px var(--text),
      0px 1px 0px var(--text),
      0px -1px 0px var(--text),
      1px 0px 0px var(--text),
      -1px 0px 0px var(--text);
    transition-duration: 0.9s;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}
 
hit#tab {
    margin: 0;
    padding: 0; }
 
hit#tab click {
    display: none; }
 
hit#tab click.active {
    display: block; } 

                            /* NAVIGATION - SIDEBAR LINKS */
            /*  change the top/left positioning to move the links! */                
.click1, .click2, .click3, .click4 {
    position:fixed;
    white-space: nowrap;
    overflow:hidden;
    text-align:right!important;
    width:55px!important;
    transition-duration: 0.9s;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.click1:hover, .click2:hover, .click3:hover, .click4:hover {
    width:220px!important;
    transition-duration: 0.9s;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

            
/* INDEX */.click1 {
    top:40px;
    right:calc(var(--posh) + var(--width) + var(--pad2) + 70px); 
    
}

/* ASK */.click2 {
    top:100px;
    right:calc(var(--posh) + var(--width) + var(--pad2) + 70px); 
}

/* RULES */.click3 {
    top:160px;
    right:calc(var(--posh) + var(--width) + var(--pad2) + 70px); 
}

/* ABOUT */.click4 {
    top:220px;
    right:calc(var(--posh) + var(--width) + var(--pad2) + 70px); 
}

.kudos {
    position:fixed!important;
    text-align:left!important;
    bottom:5px;
    right:5px;
    height:10px;
    width:10px;
    padding:5px;
    font-size:10px;
    line-height:10px;
    white-space: nowrap;
    text-shadow:none;
    color:var(--italics);
    background:var(--shadow);
    border:solid 1px var(--italics);
    border-radius:100px;
    overflow:hidden;
    unicode-bidi:bidi-override;
    direction:ltr;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}


.kudos:hover {
    color:var(--text);
    background:var(--shadow);
    border:solid 1px var(--text);
    border-radius:100px 0px 0px 100px;
    width:60px;
    height:10px;
    text-shadow:none;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

                            /* DROPDOWNS */


.dropdown { 
    margin: 0px; 
    padding: 5px; 
    width: auto; 
}

p.drop_title {
    color:var(--text);
    font-family:'Kaushan Script';
    padding:5px 10px;
    cursor: pointer;
    margin: 10px 0px 10px 0px; 
    max-width:500px;
    background:var(--divider);
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border:solid 1px var(--border);
    font-size:25px;
    text-transform:capitalize;
    text-align: right; 
    letter-spacing:1px;
    line-height:1px;
    text-shadow:1px 1px 0px var(--shadow),
      1px -1px 0px var(--shadow),
      -1px -1px 0px var(--shadow),
      -1px 1px 0px var(--shadow),
      0px 1px 0px var(--shadow),
      0px -1px 0px var(--shadow),
      1px 0px 0px var(--shadow),
      -1px 0px 0px var(--shadow);
}

p.drop_title:nth-child(even) {
    text-align: left; 
}

img.drop_title {
    cursor: pointer;
    padding:0px;
    border:solid 1px var(--border);
    height:auto;
    max-width:500px;
    margin:10px; 
}

.drop_body { 
    display:none;
    padding:5px 5px;
    margin:10px 0px;
    background:rgba(150,105,150,0);
    height:auto;
}

.drop_body img {
    float:right;
    display:inline-block;
    max-width:90px;
    height:auto;
    padding:0px 0px 3px 6px;
}

.drop_body img:nth-child(even) {
    float:left; 
    display:inline-block;
    padding:0px 6px 3px 0px;
}

.selection a {
    text-align:center;
}

.selection img {
    text-align:center;
    float:none!important;
    display:inline-block;
    max-width:80px;
    height:auto;
    margin:4px 3.7px;
    padding:0px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    border-left:4px var(--border) solid;
    border-right:4px var(--border) solid;
    border-radius:10px;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.selection img:hover {
    opacity:0.5;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.selection h2 {
    text-align:center;
}
                            /* ABOUT PAGE - NAVIGATION */
#bbox {
    position:relative;
    height:70px;
    width:100%;
    background:rgba(150,150,150,0);
    text-align:center;
    overflow:auto;
}

bio#toggles {
    text-align:center;
    color:var(--text);
    text-shadow:1px 1px 0px var(--shadow), 
      1px -1px 0px var(--shadow),
      -1px -1px 0px var(--shadow),
      -1px 1px 0px var(--shadow),
      0px 1px 0px var(--shadow),
      0px -1px 0px var(--shadow),
      1px 0px 0px var(--shadow),
      -1px 0px 0px var(--shadow);
}
 
 
bio#toggles swoop {
    display:inline-block;
    cursor:pointer;
    font-size:20px;
    text-align:center;
    margin:20px;
    text-transform:none;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}


bio#toggles swoop:hover {
    opacity:0.2;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}
 
bio#toggles swoop.active {
    opacity:1;
    display: inline-block;
    color:var(--italics);
    text-shadow:1px 1px 0px var(--border), 
      1px -1px 0px var(--border),
      -1px -1px 0px var(--border),
      -1px 1px 0px var(--border),
      0px 1px 0px var(--border),
      0px -1px 0px var(--border),
      1px 0px 0px var(--border),
      -1px 0px 0px var(--border);
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}
 
bio#toggle {
    margin: 0;
    padding: 0; }
 
bio#toggle swoop {
    display: none; }
 
bio#toggle swoop.active {
    display: block; } 
    
                        /*  S O R T I N G   H A T    */
.content {
    width:200px;
    margin:20px;
    padding:15px;
    transition: all 0.9s ease;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}
                        
#sort tic {
    list-style: none; 
    margin-top:20px;
}

#sort tac {
    display:block;
    text-align:center;
    list-style: none; 
    margin-left:-40px;
} 

#sort a {
    color:white;
    border:1px solid transparent; 
    display:block; 
    padding:10px; 
    margin-bottom:5px;}

#sort a:hover {
    color:black;
    background:white; 
    border:1px solid white;
}

#sort tac a.selected {
    color:black;
    background:white; 
    border:1px solid white;
}

spoiler {
    cursor:pointer;
    color:var(--text);
    background:var(--text);
    padding:1px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

spoiler:active {
    color:var(--text);
    background:var(--border);
    padding:1px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
